<script id="modalTemp" type="text/template">
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <!-- Modal content goes here -->
        </div>
    </div>
</script>

<script id="grid-header-column" type="text/template">
    {{#fields}}
    <th>{{header}}</th>
    {{/fields}}
</script>
<script id="grid-row-column" type="text/template">
    <td title="{{title}}">{{val}}</td>
</script>
<script id="grid-row-dueDate" type="text/template">
    <span title="{{DueDate}}" class="{{#isPastDue}}text-danger{{/isPastDue}}">{{DueDate}}</span>
</script>
<script id="grid-custom-column-status" type="text/template">
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{Status}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <button class="dropdown-item" type="button" onclick="getStatusBtn(this,'{{Id}}')">
                    Active
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" onclick="getStatusBtn(this,'{{Id}}')">
                    Inactive
                </button>
            </li>
        </ul>
    </div>
</script>
<script id="grid-kebab-action-event" type="text/template">
    <div class="dropdown">
        <button class="btn"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="dropdownMenuButton1">
            <li onclick="edit('{{Id}}')" data-bs-toggle="modal" data-bs-target="#modal">
                <a class="dropdown-item">Edit</a>
            </li>
            {{#IsFreeze}}
            <li onclick="Delete('{{Id}}', '','{{IsFreeze}}')">
                {{/IsFreeze}}
                {{^IsFreeze}}
            <li onclick="Delete('{{Id}}')">
                {{/IsFreeze}}
                <a class="dropdown-item">Delete</a>
            </li>
        </ul>
    </div>
</script>
<script id="grid-viewas-btn" type="text/template">
    <div class="dropdown inbox-data-btn">
        <div class="btn-group btn-view-as viewas-dropdown">
            <button type="button" class="btn btn-primary-border">View as</button>
            <button type="button" class="btn btn-primary-bg dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" onclick="bindGroupsViewAs(this,'{{Id}}')">
                <span class="visually-hidden">Toggle Dropdown</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu projGroupList" style="position:fixed;transform:translate(890%,146%)">
            </ul>
        </div>
    </div>
</script>
<script id="form-text-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <label>{{label}} <span class="required">{{#isrequired}}*{{/isrequired}}</span></label>
        <input type="{{inputtype}}" data-stringify="{{stringify}}" placeholder="{{placeholdertext}}" data-isreqerror="{{error}}" data-regexmsg="{{regexmsg}}" data-regex="{{regex}}" class="form-control" data-fieldname="{{field}}" data-isAdditional="{{isAdditional}}" data-dataPathField="{{dataPathField}}" {{#disabled}} disabled="disabled" {{/disabled}} data-datapath="{{datapath}}" data-format="{{format}}" data-isrequired="{{isrequired}}" id="text-{{field}}" max="{{maxlength}}" onblur="gobalCurrMrof.validateText('{{field}}')">
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>
<script id="form-hidden-field" type="text/template">
    <input type="{{inputtype}}" style="display: none" id="hdn{{field}}" value="{{value}}" data-fieldname="{{field}}" />
</script>
<script id="form-button-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <label class="btn btn-primary-bg d-block mb-1 within-first-modal" onclick="{{fn}}" id="button-{{field}}"><span>{{label}}</span></label>
    </div>
</script>
<script id="form-password-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group">
        <label>{{label}} <span class="required">{{#isrequired}}*{{/isrequired}}</span></label>
        <div class="input-group">
            <input type="{{inputtype}}" data-stringify="{{stringify}}" placeholder="" data-regex="{{dataRegex}}" class="form-control" data-fieldname="{{field}}" data-isAdditional="{{isAdditional}}" data-dataPathField="{{dataPathField}}" data-datapath="{{datapath}}" data-format="{{format}}" data-isrequired="{{isrequired}}" id="text-{{field}}" max="{{maxlength}}">
            <button class="btn btn-primary-bg" type="button" onclick="GeneratePass()" id="btn-gen-pass">Generate Password</button>
        </div>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>
<script id="form-textarea-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <label>{{label}} <span class="required">{{#isrequired}}*{{/isrequired}}</span></label>
        <textarea class="textarea form-control" name="message" data-fieldname="{{field}}" data-isAdditional="{{isAdditional}}" data-dataPathField="{{dataPathField}}" data-datapath="{{datapath}}" data-isrequired="{{isrequired}}" id="textarea-{{field}}"></textarea>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>
<script id="form-date-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <label>{{label}} <span class="required">{{#isrequired}}*{{/isrequired}}</span></label>
        <input type="text" placeholder="{{placeholdertext}}" class="form-control air-datepicker datepicker-here" data-regex="{{dataRegex}}" data-isAdditional="{{isAdditional}}" data-datapath="{{datapath}}" data-dataPathField="{{dataPathField}}" data-fieldname="{{field}}" autocomplete="off" data-isrequired="{{isrequired}}" id="date-{{field}}" {{#isYear}} data-min-view="{{data-min-view}}" data-view="{{data-view}}" data-date-format="{{data-date-format}}" {{/isYear}} {{#isMonthDayOnly}} data-isonlymonthday="true" {{/isMonthDayOnly}}>
        <i class="far fa-calendar-alt calender-icon"></i>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>
<script id="form-ddl-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <label>{{label}} <span class="required">{{#isrequired}}*{{/isrequired}}</span></label>
        <select class="select2" onchange="{{fn}}" data-fieldname="{{field}}" id="ddl-{{field}}" data-isAdditional="{{isAdditional}}" data-datapath="{{datapath}}" {{#ismultiple}} multiple="multiple" {{/ismultiple}} data-dataPathField="{{dataPathField}}" data-isrequired="{{isrequired}}">
            {{#options}}
            <option value="{{val}}" {{#selected}} selected{{/selected}} data-additional="{{additional}}">{{label}}</option>
            {{/options}}
        </select>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>

<script id="form-fileupload-field" type="text/template">
    <div class="user-profile-wrap">
        <div class="row mb-3" id="file-{{field}}">
            <div class="col-sm-{{size}} col-md-{{size}}">
                <p class="margin-bt-0">Profile Image</p>
                <div class="profile-img mt-2">
                    <img class="avatar avatar-xxl avatar-rounded" id="userSelectedProfile" src="/img/faces/1.jpg" onerror="handleImageBrokage(this)" />
                    <span id="userSelectedAbbre" class="img-abbrivation" title="" style="display:none;"></span>
                </div>
                <div class="user-details">
                    <h6 id="userName"></h6>
                    <span id="UserEmail"></span>
                    <p id="UserMobileNo"></p>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="float-end margin-top-30">
                    <label for="file-upload-content" class="btn btn-primary-bg d-block mb-1 btn-upload-pic"><span>{{label}}</span></label>
                    <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
                        {{error}}
                    </span>
                    <input type="file" accept="image/*" data-fieldname="{{field}}" data-isrequired="{{isrequired}}" data-val="" name="uploadFile" value="" id="file-upload-content" onclick="this.value=null;" class="file-upload" />
                    <a class="btn btn-outline-primary d-block d-none" onclick="removeUserPicFn()" id="removeUserPic"><span>Remove Photo</span></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="form-upload-field" type="text/template">
    <div class="user-profile-wrap">
        <div class="row mb-3" id="file-{{field}}">
            <div class="col">
                <div class="float-start margin-top-30">
                    <label for="file-upload-content" class="btn btn-primary-bg d-block mb-1 btn-upload-pic"><span>{{label}}</span></label>
                    <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
                        {{error}}
                    </span>
                    <input type="file" accept="{{accept}}" data-fieldname="{{field}}" data-isrequired="{{isrequired}}" data-val="" name="uploadFile" value="" id="file-upload-content" onclick="this.value=null;" class="file-upload" />
                </div>
            </div>
        </div>
    </div>
</script>
<script id="form-logo-field" type="text/template">
    <div class="user-profile-wrap user-logo-image">
        <div class="row mb-3" id="file-{{field}}">
            <div class="col-sm-{{size}} col-md-{{size}}">
                <span>Logo Image</span>
                <div class="profile-img mt-2">
                    <img class="avatar" id="userSelectedProfile" src="/img/faces/1.jpg" onerror="this.onerror=null;this.src='/img/faces/1.jpg'" />
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="float-end margin-top-30">
                    <label for="file-upload-content" class="btn btn-primary-bg d-block mb-1 btn-upload-pic"><span>{{label}}</span></label>
                    <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
                        {{error}}
                    </span>
                    <input type="file" accept="image/*" data-fieldname="{{field}}" data-isrequired="{{isrequired}}" data-val="" name="uploadFile" value="" id="file-upload-content" onclick="this.value=null;" class="file-upload" />
                    <a class="btn btn-outline-primary d-block d-none" onclick="removeUserPicFn()" id="removeUserPic"><span>Remove Photo</span></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="form-checkbox-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group mb-4">
        <h6>{{label}}</h6>
        <div class="workdays reporting-checkbox d-flex align-items-center">
            <input type="checkbox" name="checkbox" id="checkkbox-{{field}}" class="checkbox style-2 all margin-right-5" data-fieldname="{{field}}" data-isrequired="{{isrequired}}" onchange="{{fn}}" singleCheckbox="yes" data-val="{{checkboxValue}}">
            <label for="checkkbox-{{field}}">{{chklabel}}</label>
        </div>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>
<script id="form-multipleset-field" type="text/template">
    <div class="col-xl-{{size}} col-lg-6 col-12 form-group check-box-group-{{field}} multiset-form-fields" data-fieldname="{{field}}">
        <h6>{{label}}<span class="required">{{#isrequired}}*{{/isrequired}}</span></h6>
        <div class="form-group form-multiselect row" id="multiselect-{{field}}" data-isAdditional="{{isAdditional}}" data-dataPathField="{{dataPathField}}" data-datapath="{{datapath}}" data-isrequired="{{isrequired}}">
            {{#fieldset}}
            <div style="width:100%;">
                <label>{{fieldsetlabel}}</label>
                <div>
                    {{#options}}
                    <input type="checkbox" name="{{name}}" data-fieldname="{{field}}" data-isrequired="{{isrequired}}" data-val="{{val}}" class="checkbox style-2 all margin-right-5" onchange="gobalCurrMrof.uncheckOther(this, '{{name}}','{{field}}');" />{{optionlabel}}&nbsp;
                    {{/options}}
                </div>
                <hr />
            </div>
            {{/fieldset}}
        </div>
        <span class="alert1 alert-danger" id="error-{{field}}" role="alert" style="display:none">
            {{error}}
        </span>
    </div>
</script>

<script id="form-head-field" type="text/template">
    <h6 id="{{id}}" class="d-flex secheading"><span>{{label}}</span></h6>
</script>
<script id="form-label-field" type="text/template">
    <div class="form-group col-12 lbltext">
        <label id="{{id}}" class="h6">{{label}}<span class="required">{{Required}}</span></label>
    </div>
</script>
<script id="grid-custom-row-column-project" type="text/template">
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{Projectstatus}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <button onclick="projectGrid.updateStatus('{{Id}}',1,this)" class="dropdown-item" type="button">
                    Open
                </button>
            </li>
            <li>
                <button onclick="projectGrid.updateStatus('{{Id}}',2,this)" class="dropdown-item" type="button">
                    In Progress
                </button>
            </li>
            <li>
                <button onclick="projectGrid.updateStatus('{{Id}}',3,this)" class="dropdown-item" type="button">
                    Pending
                </button>
            </li>
            <li>
                <button onclick="projectGrid.updateStatus('{{Id}}',4,this)" class="dropdown-item" type="button">
                    Completed
                </button>
            </li>
            <li>
                <button onclick="projectGrid.updateStatus('{{Id}}',5,this)" class="dropdown-item" type="button">
                    Close
                </button>
            </li>
        </ul>
    </div>
</script>

<script id="grid-custom-row-viewas" type="text/template">
    <div class="dropdown">
        <div class="btn-group btn-view-as">
            <button type="button" class="btn btn-primary-border">View as</button>
            <button type="button" class="btn btn-primary-bg dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" onclick="PmGrid.viewAs(this,'{{Id}}')">
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
    </div>
</script>
<script id="AssignedToTemplate" type="text/template">
    <div class="dropdown assigned-to">
        {{#isUserAssigned}}
        <select disabled class="select2" onchange="UserAssignedAndUnAssigned(this)">
            <option disabled selected>Select User</option>
            {{#dropdownOptions}}
            <option value="{{Id}}" {{#isSelected}} selected {{/isSelected}}>{{Name}}</option>
            {{/dropdownOptions}}
        </select>
        {{/isUserAssigned}}

        {{^isUserAssigned}}
        <select class="select2" onchange="UserAssignedAndUnAssigned(this)">
            {{#isUserUnAssigned}}
            <option selected operation="unassigned">Select User</option>
            {{/isUserUnAssigned}}
            {{^isUserUnAssigned}}
            <option disabled selected>Select User</option>
            {{/isUserUnAssigned}}
            {{#dropdownOptions}}
            <option value="{{Id}}" {{#isSelected}} selected {{/isSelected}} operation="assigned">{{Name}}</option>
            {{/dropdownOptions}}
        </select>
        {{/isUserAssigned}}
    </div>
</script>
<script id="TaskLeaseIdTemp" type="text/template">
    {{#IsLeaseIdEnabled}}
    {{^IsUserRole}}
    <a onclick="MyWorkLevelGrid.openReboLink(this)" href="#" class="royal-blue fw-bolder underLine">{{LeaseId}}</a>
    {{/IsUserRole}}
    {{/IsLeaseIdEnabled}}
    {{^IsLeaseIdEnabled}}
    <a disabled class="text-muted cursor-notAllowed" title="Task already Added to AI">{{LeaseId}}</a>
    {{/IsLeaseIdEnabled}}
    {{#IsLeaseIdEnabled}}
    {{#IsUserRole}}
    <a disabled class="text-muted cursor-notAllowed" title="Task already Added to AI">{{LeaseId}}</a>
    {{/IsUserRole}}
    {{/IsLeaseIdEnabled}}
</script>
<script id="rowTemplate" type="text/template">
    <tr data-groupid="<%= GroupId %>">
        <td>
            <div class="inbox-data">
                <span><%= GroupNames %></span>
            </div>
        </td>
        <td>
            <!--<div class="closemodal-div"></div>-->
            <div class="addmembers-dropdown dropup">
                <button onclick="bindUserList(event, this)" class="btn dropdown-toggle dropup d-flex align-items-center">
                    <% if (GroupMembers && GroupMembers.length === 1) { %>
                    <span class="avatar avatar-rounded mainsecSpan">
                        <% var member = GroupMembers[0]; %>
                        <%= createImageAbbreHtml(member) %>
                    </span>
                    <div class='member-name'><span class="userdetails float-start" data-userids="<%= getObjectIDString(member.Id) %>"><%= member.UserName %></span></div>
                    <% } else if (GroupMembers && GroupMembers.length > 0) { %>
                    <span class="avatar avatar-rounded mainsecSpan">
                        <% var usernames = '';%>
                        <% var userId = '';%>
                        <% _.each(GroupMembers, function(member, index) { %>
                        <%= createImageAbbreHtml(member) %>
                        <% usernames += (index === 0 ? member.UserName : ',' + member.UserName); %>
                        <% userId += (index === 0 ? getObjectIDString(member.Id) : ',' + getObjectIDString(member.Id)); %>
                        <% }); %>
                    </span>
                    <span class="d-none userdetails" data-userids="<%=userId%>"><%= usernames %></span>
                    <% } else { %>
                    <span class="mainsecSpan">No User Selected</span>
                    <% } %>
                </button>
                <div class="addmembers dropdown-menu custom-member dropup">
                    <ul class="dropdown-list scrollbar-width margin-bt-0">
                        <span>No user selected</span>
                    </ul>
                    <form class="custom-filter-search-box">
                        <span onclick="clearSearchFnSelected(this)">
                            <a href="#" class="cancel-search" title="Cancel Search">
                                <i class="fa fa-times"></i>
                            </a>
                        </span>
                        <input type="text" class="custom-filed open-dropdown filterSearchUser" onkeyup="filterSelectedList(this)" placeholder="Search" />
                    </form>
                    <div class="select-members">
                        <form class="custom-filter-search-box">
                            <span onclick="clearSearchFn(this)">
                                <a href="#" class="cancel-search" title="Cancel Search">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                            <input type="text" class="custom-filed open-dropdown filterSearchUser" onkeyup="filterList(this)" placeholder="Search" />
                        </form>
                        <ul class="margin-bt-0 scrollbar-width">
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>

<script id="groupUserTemp" type="text/template">
    <li data-id='{{Id}}'>
        <div class="rolewrap">
            <div class="btn dropdown-toggle d-flex align-items-center" title="{{Name}}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="avatar avatar-rounded">
                    {{#IsImageNull}}
                    <span class="img-abbrivation" title="{{Name}}">{{Abbreviation}}</span>
                    {{/IsImageNull}}
                    {{^IsImageNull}}
                    <span class="img-abbrivation" title="{{Name}}" style="display:none;">{{Abbreviation}}</span>
                    <img src='{{imgPath}}' data-id='{{Id}}' onerror="handleImageBrokage(this)" />
                    {{/IsImageNull}}
                </span>
                <div class="member-name">
                    <span class="cancel-member text-truncate">{{Name}}</span>
                    <i class="fa fa-times float-right" onclick="removeSelectedUser(this)"></i>
                </div>
            </div>
        </div>
    </li>

</script>
<script id="task-custom-row-status" type="text/template">
    <div class="btn-group">
        {{^UserAssignee.IsStatusesFreeze}}
        <button type="button" class="btn btn-light dropdown-toggle status-dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{TaskStatus}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <button class="dropdown-item" type="button">
                    Select status
                </button>
            </li>
            {{#LstTaskStatus}}
            <li>
                <button onclick="UpdateTaskStatus(this,'{{TaskId}}','{{TaskStatusId}}','{{TaskStatus}}')" class="dropdown-item" type="button">
                    {{TaskStatus}}
                </button>
            </li>
            {{/LstTaskStatus}}
            {{/UserAssignee.IsStatusesFreeze}}

        </ul>

        {{#UserAssignee.IsStatusesFreeze}}

        <button type="button" class="btn btn-light dropdown-toggle status-dropdown-toggle" aria-expanded="false">
            {{TaskStatus}}
        </button>

        {{/UserAssignee.IsStatusesFreeze}}
    </div>
</script>

<script id="LeaseNameTemplate" type="text/template">
    <a onclick="openTaskDetails('{{Id}}',`{{LeaseName}}`)" href="#">
        {{LeaseNameTrim}}
    </a>
</script>
<script id="main-filter-template" type="text/template">
    <div class="dropdown-menu filter-lg-menu" aria-labelledby="filterUserBtn" id="main-filter-container">
        <div class="filter-menu-header">
            <span class="toggle-switch">
                <label class="toggle">
                    <input class="SelectGroup" type="checkbox" id="inputAndOr" />
                    <i data-swchon-text="AND" data-swchoff-text="OR"></i>
                </label>
            </span>
            <div class="filter-searchbox">
                <i class="fas fa-search"></i>
                <input type="text" class="" placeholder="Search" id="filterSearchBar" onkeyup="SearchFilters(this)" />
            </div>
            <span onclick="resetFilterFn(this)"><i class="fas fa-sync-alt sync-icon"></i></span>
            <button type="button" class="btn btn-primary float-end apply-btn" onclick="applyFiltersFn(this)">Apply</button>
            <span class="close-filtermenu" onclick="$('#main-filter-container').removeClass('show')">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="row gx-3 gx-lg-5" id="filter-menu-body">
            <div class="col-2" style="padding: 0px">
                <div class="left-sec-wrap">
                    <ul id="filterHeaderSec" class="nav nav-tabs nav-tabs-vertical" role="tablist" style="display: block"></ul>
                </div>
            </div>
            <div class="col-10 filter-content" style="padding: 0px">
                <div class="tab-content" id="filterOptionsContainer" aria-orientation="vertical">
                </div>
            </div>
        </div>
    </div>
</script>

<script id="filter-header-template" type="text/template">
    <li class="nav-item" role="presentation" onclick="{{fn}}">
        <a class="nav-link {{activeClass}}" id="{{FilterName}}-filter" data-bs-toggle="tab" href="#{{DbName}}-option" role="tab" aria-controls="{{FilterName}}-filter" aria-selected="false" tabindex="-1">
            {{FilterName}}
        </a>
    </li>
</script>

<script id="filter-option-template" type="text/template">
    {{#options}}
    <li>
        <form>
            <input id="{{DbName}}-{{Name}}-option" type="checkbox" class="filter-checkbox" value="{{value}}" data-filter="{{DbName}}" />
            <label for="{{DbName}}-{{Name}}-option">{{Name}}</label>
        </form>
    </li>
    {{/options}}
</script>

<script id="filter-optionDiv-template" type="text/template">
    <div class="tab-pane fade {{activeClass}}" role="tabpanel" id="{{DbName}}-option" aria-labelledby="{{FilterName}}-filter">
        <ul class="d-flex">
            {{#options}}
            <li>
                <form>
                    <input id="{{DbName}}-{{Name}}-option" type="checkbox" class="filter-checkbox" value="{{value}}" data-filter="{{DbName}}" />
                    <label for="{{DbName}}-{{Name}}-option">{{Name}}</label>
                </form>
            </li>
            {{/options}}
        </ul>
    </div>
</script>

<script id="compliance-template" type="text/template">
    <span class="red-text" title="Late">
        {{#Compliance}}
        Late
        {{/Compliance}}
    </span>
</script>

<script id="client-work-template" type="text/template">
    <tr class="manual">
        <td class="select2-wrap">
            <select class="select2 t-clientCompany form-control" onchange="loadProjectIdDetails(this)">
                <option value="">Select Option</option>
                {{{optionscompanyId}}}
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select client id
            </span>
        </td>
        <td class="select2-wrap client-ProjectId">
            <select class="select2 t-clientProjectId form-control" onchange="loadLeaseIds(this)">
                <option value="" data-addtional="">Select Option</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select project id
            </span>
        </td>
        <td class="select2-wrap">
            <select class="select2 t-tasks form-control" onchange="selectTasks(this)">
                {{{optionsTasks}}}
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select task
            </span>
        </td>
        <td>
            <input type="text" class="form-control t-deleverables" disabled>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add deliverable
            </span>
        </td>
        <td class="select2-wrap client-LeaseId client-leaseid-output">
            <select class="select2 t-client-leaseid form-control" disabled>
                <option value="">Select LeaseId</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select lease id
            </span>
        </td>
        <td class="select2-wrap client-Output client-leaseid-output">
            <input type="number" class="form-control t-client-output" disabled>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add output
            </span>
        </td>
        <td>
            <input type="text" class="form-control client-hours" onblur="hoursValidation(this,1)" placeholder="0">
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add client hours
            </span>
        </td>
        <td><button class="btn border-none" onclick="removeSelectedTimeSheetRow(this,1)" type="button"><i class="far fa-trash-alt"></i></button></td>
    </tr>
</script>

<script id="non-client-work-template" type="text/template">
    <tr>
        <td class="select2-wrap">
            <select class="select2 t-activities form-control" onchange="selectActivities(this)" disabled>
                {{{optionsActivities}}}
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add activity
            </span>
        </td>
        <td class="select2-wrap non-client-type">
            <select class="select2 form-control t-type" disabled>
                <option value="">Select Option</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">Please Select type</span>
        </td>
        <td colspan="4">
            <input type="text" class="form-control t-describe"></input>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add description
            </span>
        </td>
        <td>
            <input type="text" class="form-control non-client-hours" onblur="hoursValidation(this,2)" placeholder="0">
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add non client hours
            </span>
        </td>
        <!-- TODO: we can have need for this code in future
        <td><button class="btn" onclick="removeSelectedTimeSheetRow(this,2)" type="button"><i class="far fa-trash-alt"></i></button></td>-->
    </tr>
</script>

<script id="submitted-date-template" type="text/template">
    <span title="{{SubmittedTime}}">
        {{SubmittedDate}}
    </span>
</script>

<script id="grid-TotalLeaseCnt-column" type="text/template">
    <td title="{{TotalLease}}">{{TotalLease}} <i class="fas fa-sync-alt px-1" onclick="fetchTotalLeaseCnt(this)" title="click to fetch Total Lease Count"></i></td>
</script>

<script id="LeaseNameTemplate" type="text/template" )">
    <a onclick="openTaskDetails('{{Id}}',`{{LeaseName}}`)" href="#">
        {{LeaseNameTrim}}
    </a>
</script>

<script id="auto-populated-client-work-template" type="text/template">
    {{#lstClientWork}}
    <tr class="autopopulated">
        <td class="select2-wrap">
            <select class="select2 t-clientCompany form-control" disabled>
                <option value="{{CompanyId}}" data-addtional="{{UniquecompanyId}}">{{CompanyName}}</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select client id
            </span>
        </td>
        <td class="select2-wrap client-ProjectId">
            <select class="select2 t-clientProjectId form-control" disabled>
                <option value="{{ProjectId}}" data-addtional="{{UniqueprojectId}}">{{ProjectName}}</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select project id
            </span>
        </td>
        <td class="select2-wrap">
            <select class="select2 t-tasks form-control" disabled>
                <option value="{{TimeSheetTasks.Value}}">{{TimeSheetTasks.Label}}</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select task
            </span>
        </td>
        <td>
            <input type="text" class="form-control t-deleverables" value="Abstracts" disabled>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add deliverable
            </span>
        </td>
        <td class="select2-wrap client-LeaseId client-leaseid-output">
            <select class="select2 t-client-leaseid form-control" disabled>
                <option value="{{UniqueLeaseId}}" data-addtional="{{LeaseId}}">{{LeaseName}}</option>
            </select>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please select lease id
            </span>
        </td>
        <td class="select2-wrap client-Output client-leaseid-output">
            <input type="number" class="form-control t-client-output" disabled>
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add output
            </span>
        </td>
        <td>
            <input type="text" class="form-control client-hours" onblur="hoursValidation(this,1)" placeholder="0">
            <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">
                Please add client hours
            </span>
        </td>
        <td><button class="btn border-none" onclick="removeSelectedTimeSheetRow(this,1)" type="button"><i class="far fa-trash-alt"></i></button></td>
    </tr>
    {{/lstClientWork}}
</script>
<script id="custom-popup-loader" type="text/template" )">
    <div class="loader-custom">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</script>

<script id="non-client-work-type" type="text/template" )">
    {{#isDropdown}}
    <select class="form-control select2 t-type" disabled>{{{options}}}</select>
    <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">Please Select type</span>
    {{/isDropdown}}
    {{^isDropdown}}
    <input type="text" class="form-control t-type" />
    <span class="alert1 alert-danger" id="error-Activity" role="alert" style="display:none;">Please Add type</span>
    {{/isDropdown}}
</script>